/build/
/devel/
.idea
.vscode
/thirdparty/ctraj-build/
/thirdparty/ctraj-install/
/thirdparty/ctraj/thirdparty/tiny-viewer-build/

/output/*

!/output/simu1
/output/simu1/*
!/output/simu1/radar_imu.bag
!/output/simu1/truth.json

!/output/simu2
/output/simu2/*
!/output/simu2/radar_imu.bag
!/output/simu2/truth.json

!/output/simu3
/output/simu3/*
!/output/simu3/radar_imu.bag
!/output/simu3/truth_align_to_imu0.yaml

!/output/simu4
/output/simu4/*
!/output/simu4/radar_imu.bag
!/output/simu4/truth_align_to_imu0.yaml


/cmake-build-debug

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc